.control-buttons {
    text-align: right;    
}

.control-buttons img {
    cursor: pointer;
}

section{
    background-image:url(src/assets/gifplain.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    font-style: normal;
    font-size: large;
}