<div class="container">
<app-adding></app-adding>
  <div class="row">
    <table mdbTable striped="true">
      <thead>
        <tr>
          <th *ngFor="let head of headElements" scope="col">{{ head }}</th>
        </tr>
      </thead>
      <tbody mdbTableCol *ngFor="let el of elements">
        <tr>
          <td scope="row">
            <button
              type="button"
              mdbBtn
              color="danger"
              class="master-button"
              mdbWavesEffect
              *ngIf="el.collapsed"
              (click)="el.collapsed = !el.collapsed"
            >
              <mdb-icon fas icon="angle-down"></mdb-icon>
            </button>
            <button
              type="button"
              mdbBtn
              color="success"
              class="master-button"
              mdbWavesEffect
              *ngIf="!el.collapsed"
              (click)="el.collapsed = !el.collapsed"
            >
              <mdb-icon fas icon="angle-right"></mdb-icon>
            </button>
            <span class="ml-1">{{ el.id }}</span>
          </td>
          <td>{{ el.first }}</td>
          <td>{{ el.last }}</td>
          <td>{{ el.handle }}</td>
        </tr>
        <tr
          *ngIf="el.collapsed"
          style="text-align: center; background-color: rgba(0, 0, 0,  0.015)"
        >
          <td colspan="100%" style="border: 0 !important">
            <table mdbTable>
              <thead class="black white-text">
                <tr>
                  <th *ngFor="let head of masterHeadElements"  >{{ head }}</th>
                </tr>
              </thead>
              <tbody *ngFor="let detail of el.masterDetail">
                <tr>
                  <td style="width:400px;">
                    <mdb-carousel [animation]="'slide'">
                      <mdb-carousel-item>
                        <img class="d-block  img-fluid" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide">
                      </mdb-carousel-item>
                      <mdb-carousel-item>
                        <img class="d-block  img-fluid" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="Second slide">
                      </mdb-carousel-item>
                      <mdb-carousel-item>
                        <img class="d-block  img-fluid" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide">
                      </mdb-carousel-item>
                    </mdb-carousel>
                  </td>
                  <td>{{ detail.orderId }}</td>
                  <td>{{ detail.orderDate }}</td>
                  <td>{{ detail.adress }}</td>
                 
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>