<div class="container">
  <div class="row justify-content-center">
    <div class="col-2">
      <button type="button"  (click)="submitForm()" class="btn btn-primary">Quote-form</button>
    </div>
    <div class="col-2">
      <button type="button"  (click)="submitRecords()" class="btn btn-primary">Records</button>
    </div>
    <div class="col-2">
      <button type="button"  (click)="submitPDF()" class="btn btn-primary">PDF-Doc</button>
     
    </div>
  </div>
    <div>
    
      <table  mdbTable striped="true"  hover="true" >
        <thead>
          <tr>
            <th *ngFor="let head of headElements" scope="col">{{ head }}</th>
          </tr>
        </thead>
        <tbody mdbTableCol *ngFor="let el of elements">
          <tr>
            <td scope="row">
              <button
                type="button"
                mdbBtn
                color="danger"
                class="master-button"
                mdbWavesEffect
                *ngIf="el.collapsed"
                (click)="el.collapsed = !el.collapsed"
              >
                <mdb-icon fas icon="angle-down"></mdb-icon>
              </button>
              <button
                type="button"
                mdbBtn
                color="success"
                class="master-button"
                mdbWavesEffect
                *ngIf="!el.collapsed"
                (click)="el.collapsed = !el.collapsed"
              >
                <mdb-icon fas icon="angle-right"></mdb-icon>
              </button>
              <span class="ml-1">{{ el.id }}</span>
            </td>
            <td>{{ el.first }}</td>
            <td>{{ el.last }}</td>
            <td>{{ el.handle }}</td>
          </tr>
          <tr
            *ngIf="el.collapsed"
            style="text-align: center; background-color: rgba(0, 0, 0,  0.015)"
          >
            <td colspan="50%" style="border: 0 !important">
              <table mdbTable>
                <thead class="black white-text">
                  <tr>
                    <th *ngFor="let head of masterHeadElements"  >{{ head }}</th>
                  </tr>
                </thead>
                <tbody *ngFor="let detail of el.masterDetail">
                  <tr>
                    <td >
                     
                    </td>
                    <td>{{ detail.orderId }}</td>
                    <td>{{ detail.orderDate }}</td>
                    <td>{{ detail.adress }}</td>
                   
                  </tr>
                </tbody>
              </table>
              <table mdbTable>
                <thead class="black white-text">
                  <tr>
                  <th *ngFor="let head of chargeTypes"  >{{ head }}</th>
                  </tr>
                </thead>
                <tbody *ngFor="let detail of el.masterDetail">
                  <tr>
                   <td></td>
                    <td>{{ detail.orderId }}</td>
                    <td>{{ detail.orderDate }}</td>
                   
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
  
    </div>
  </div>
  